body {
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #ff4b5c;
  margin-top: 2.5%
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 1% 0;
  padding: 0;
}

.container {
  margin: 1.5% auto;
}
